body {
overflow-y:hidden
}

// element.style {
// position: absolute;
// overflow: hidden;
// }

.fullpageSpread{
height:100vh;
overflow-y:hidden;    
}


#carousel__opening{
position: absolute; 
height: 100%;
width: 100%;
// margin: auto;
}

#wrapperSlide1{
background-image: url("../../images/openingimage.jpg");
background-size: cover;
width:100%;
height:100vh;
overflow-y:hidden;

}

#wrapperOpeningSlide2{
background-image: url("../../images/guestOne.jpg");
background-size: cover;
width:100%;
height:100vh;
overflow-y:hidden;
}


#wrapperOpeningSlide3{
background-image: url("../../images/guestTwo.jpg");
background-size: cover;
width:100%;
height:100vh;
overflow-y:hidden;
}

#wrapperGuest{
background-image: url("../../images/guestOne.jpg");
width:100%;
height:100vh;
background-size: cover;
}

#wrapperDate{   
background-image: url("../../images/guestTwo.jpg");
width:100%;
height:100vh;
background-size: cover;
}  



#wrapperConfirm{   
background-image: url("../../images/confirmimage.jpg");
width:100%;
height:100vh;
background-size: cover;
}  


#wrapperMap{
background-image: url("../../images/wrapperimageMap.jpg");
width:100%;
height:100vh;
background-size: cover;
}


#confirmationPage{
    border:solid black;
}

// /*Confirmation page/accom options*/



.confirmationPage:hover{
color:white;
opacity: 0.9;
transition: .5s ease;
}

.confimrationContent{
padding:2%;
margin:auto;
}



/*//map page*/

.MapContainer /*#map*/ {
height:70%;
margin-top:5%;
margin-left:20%;
width: 55%;
position: absolute;
}




.mapContainer{
padding:10%;
}
