.datepicker_container{
border:solid 1px black;
margin-top:20%;

}
.datepickers{
  text-align: center;
  border-radius:3%;
}


.datepickers:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#datepicker1, #datepicker2:hover { 
  background-color: white;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}


#confirmInfo:hover{
transition: 0.3s;
background-color: transparent;
opacity: 0.6;

}
#confirmInfo {
  height: 40px;
  background-color: grey;
  border-color: lightblue;
  box-shadow: none;
  color: white;
  margin-top: 30%;
}

#confirmInfo:hover{
background-color: white;
cursor: pointer;
-webkit-transition: background-color 2s ease-out;
-moz-transition: background-color 2s ease-out;
-o-transition: background-color 2s ease-out;
transition: background-color 2s ease-out;
}




