
.dateContainer{
	padding-bottom:10%;
	margin: auto;
	padding: 18% ;
	/*display: inline-flex;*/
	width:90%;
	    margin-left: 14%;
	   resize: vertical;
	

}
.para{
	width:90%;
	margin:auto;
}
.container-button{
	width:60%;
	margin-left:30%;
	resize: vertical;
}

.datepickers{
width: 20%; 
height: 50px;
margin-right:25%;
opacity: 0.6%;
text-align: center;
border-radius: 3%;
background-color:transparent;
/*font-color:white;*/
font-family: 'Comfortaa', cursive;
    outline: none;
}


.datepickers:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#datepicker1:hover { 
  background-color: white;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

#datepicker2:hover{
    background-color: white;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}


#confirmInfo:hover{
  transition: 0.3s;
 background-color: transparent;
 opacity: 0.6;

}

#confirmInfo{
	height:50px;
	margin-left: -7.5%;
	background-color: transparent;
	border-color: lightblue;
    box-shadow: none;
    color:white;
}

#confirmInfo:hover{
      background-color: white;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}





@media (min-width:320px) and (max-width: 568px) {

.dateContainer{
	padding-bottom:10%;
	margin: auto;
	padding: 20% ;
	/*display: inline-flex;*/
	width:100%;
/*	margin-left:12%;*/
	    resize: vertical;
}

.datepickers{
    width: 60%;
    height: 20px;
    margin-left: 23%;
    display: inherit;
    margin-top: 26%;
    padding: 6%;


}


#confirmInfo {
      /* width: 100px; */
    height: 50px;
    margin: 20px auto;
    /* margin: auto; */
    margin-left: -13%;
    background-color: transparent;
    border-color: lightblue;
    box-shadow: none;
    color: white;
    font-size: 20px;
}


}


@media (min-width:768px) and (max-width: 1024px) {


#confirmInfo{
	width:100px;
	height:50px;
/*	margin:20px auto;*/
	margin-left: -11.5%;
	background-color: transparent;
	border-color: lightblue;
    box-shadow: none;
    color:white;
}


.dateContainer {
    padding-bottom: 10%;
    margin: auto;
    /* display: inline-flex; */
    width: 100%;
    margin-left: 11%;
    resize: vertical;
    padding-top: 40%;
}






 }

@media (min-width:320px) and (max-width: 568px) {
  
#datepicker1{
  margin-left:20%;
}

#datepicker2{
  margin-left:20%;
}


#confirmInfo {
    /* width: 100px; */
    height: 50px;
    margin: 20px auto;
    /* margin: auto; */
    margin-left: -14%;
    background-color: transparent;
    border-color: lightblue;
    box-shadow: none;
    color: white;
    font-size: 20px;
}


}





