

button:focus { outline: none; }

.dropdown:focus,.dropdown:active {
outline: none !important;
box-shadow: none !important;
}

button::hover{
background:none;
border:transparent;
}
.dropdown-toggle::after {
display:none;
}
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
color: white;
background-color: none;
border: 0px transparent  solid;
outline:none;
box-shadow:none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-primary.dropdown-toggle:focus {
box-shadow:none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: transparent;
     background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    width: 100%;
}


.dropdown-item {
color:black;
text-align: center;
outline: none;

}

.dropdown:before {
    content: "";
    position: absolute;
    height: 3px;
    background: black;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
     outline: none;
  }
  .dropdown:hover:before,
  .dropdown:focus:before {
    visibility: visible;
    transform: scaleX(1);
     outline: none;
  }
  
  .dropdown-item {
    display: block;
    width: 25%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color:white;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    margin: auto;
    text-align: center;
    transition: 0.7s;
    opacity: 1;
}


.dropdown-item :hover {opacity: 0.6}




.Accommodation-dropdown {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  /* clear: both; */
  font-weight: 400;
  color: white;
  /* text-align: inherit; */
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  margin: auto;
  border: solid red;
}

//This is the Accoodation dropdown style section


.meal-option{

  color: black;
  width:100%;
  background-color: blue;

}