

button:focus { outline: none; }

.dropdown:focus,.dropdown:active {
   outline: none !important;
   box-shadow: none !important;
}


button::hover{
	background:none;
	border:transparent;
}
.dropdown-toggle::after {
    display:none;
     
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: white;
    background-color: none;
    border: 0px transparent  solid;
    outline:none;
    box-shadow:none;
}


.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow:none;
}

#guestDropDownOptions{
	 background-color: transparent;
 	border-color: none;
    box-shadow: none;
	width:20%;
	color: white;
	height: 100px;
	font-family: 'Comfortaa', cursive;
	 font-size: 20px;
	  outline: none;

}
.dropdown-item {
    color: white;
    text-align: center;
     outline: none;

}

#dropDownOptions{
	padding:none;
	width:50%;
	height: 100px;
	margin-top:1%;
	 background-color: transparent;
  font-family: 'Comfortaa', cursive;
    box-shadow: none;
    color:white;
     outline: none;
}

.confirmInfo:hover{
	transition: 0.9s;
	background: black;
	color:white;
	 outline: none;
}


.dropDown_ConfirmOptions{
	 background-color: transparent;
    box-shadow: none;
	height: 100px;
	margin-top:5%;
	font-family: 'Comfortaa', cursive;
	 font-size: 16px;
	  outline: none;


}


#AccommodationOptions {
    font-family: 'Comfortaa', cursive;
    background-color: transparent;
    margin: auto;
    min-width: 8rem;
    width: 38%;
    outline: none;
}

@media (min-width:320px) and (max-width: 568px) {



	#dropDownGuest{
	 background-color: transparent;
    box-shadow: none;
    border: none;
	width:20%;
	height: 100px;
	margin-left:30%;
	margin-top:5%;
	font-family: 'Comfortaa', cursive;
	 font-size: 30px;
	}

	#guestDropDownOptions{
	background-color: transparent;
    box-shadow: none;
      font-family: 'Comfortaa', cursive;
      color:white;
      margin:auto;
      margin-left: -3%;

  /* 		transform: translate3d(none);*/

}

#dropDown_ConfirmOptions{
	padding:none;
	height: 100px;
	margin-top:1%;
	 background-color: transparent;
  font-family: 'Comfortaa', cursive;
    box-shadow: none;
    color:white;

}

#button__opening {
    background-color: transparent;
    border-color: none;
    box-shadow: none;
    width: 20%;
    height: 100px;
    margin-left: 25%;
    margin-top: 20%;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
}
#AccommodationOptions {
    font-family: 'Comfortaa', cursive;
    background-color: transparent;
    margin: auto;
    min-width: 8rem;
    width: 95%;
    outline: none;
}

#DateBack {
    color: white;
    border: white 1px solid;
    background-color: transparent;
    height: 27px;
    width: 100px;
    float: right;
    margin-top: 7%;
    margin-right: 8%;
}

#confirmBack {
    color: white;
    border: white 1px solid;
    background-color: transparent;
    height: 27px;
    width: 100px;
    float: right;
    /* margin-left: 100%; */
    margin-right: 8%;
    margin-top: 4%;
    /* padding-left: 5%; */
}

#confirmGuest_title{
	margin-left: 27%;
}



}

@media (min-width:768px) and (max-width: 1024px) {

#guestDropDownOptions{
	 background-color: transparent;
 	border-color: none;
    box-shadow: none;
/*	width:30%;*/
	height: 100px;
	font-family: 'Comfortaa', cursive;
	 font-size: 20px;

}

#confirmInfo {
    width: 100px;
    height: 50px;
    /* margin: 20px auto; */
   /* margin-left: -15.5%;*/
    background-color: transparent;
    border-color: lightblue;
    box-shadow: none;
    color: white;
}


#AccommodationOptions {
    font-family: 'Comfortaa', cursive;
    background-color: transparent;
    margin: auto;
    min-width: 8rem;
    width: 50%;
    margin-left: 12%;
}

}

@media (min-width:320px) and (max-width: 568px) {

#AccommodationOptions {
    font-family: 'Comfortaa', cursive;
    background-color: transparent;
    margin: auto;
    min-width: 8rem;
    width: 101%;
    outline: none;
}

#button__opening {
    background-color: transparent;
    border-color: none;
    box-shadow: none;
    width: 20%;
    height: 100px;
    margin-left: 8%;
    margin-top: 20%;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
}

#confirmGuest_title {
    margin-left: 31%;
    font-size: 25px;
}

}


