
// logo


.icons_facebook{
padding:.5%;
font-size:36px;

}

.icons_facebook:hover {
background: white;
opacity: 1.0;
}

.logo{
height:50px;
width:100px;

}


.logo:hover {
    background: white;
    opacity: 1.0;
}


// border

.borderBlack{
height:50px;
background-color:black;
}

.borderBlackFooter {
height:50px;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: black;
color: white;
text-align: center;
}

